@font-face {
  font-family: "braille";
  src: url("assets/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/AHAMONO-Monospaced.otf");
}

body{
  background-color: black;
}

.texts h1 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: latin;
  font-size: 1vw;
  overflow: hidden;
}

.texts instructions {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: braille;
  font-size: 1vw;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing 3s steps(150, end),
    blink-caret .13s step-end;
}
.texts instructions1 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: latin;
  font-size: 1vw;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing1 3s steps(120, end),
    blink-caret .13s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 57% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: grey }
}
@keyframes typing1 {
  from { width: 0 }
  to { width: 45% }
}


.start {
  border: none;
  background-color: #323232;
  width: 13%;
  height: 5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
  transition: 0.2s ease-in-out;
  animation:3.5s ease 0s normal forwards 1 fadein;
  -webkit-animation:3.5s ease 0s normal forwards 1 fadein;
  opacity:0
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
95%{opacity:0}
100%{opacity:1}
}

.start:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 13%;
  height: 5%;
  font-size: 1vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

.back {
  position: absolute;
  background-color: transparent;
  border: transparent;
  color: #d2d2d2;
  top: 7%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2vw;
  cursor: pointer;
  font-family: latin;
}

.back:hover {
  color: white;
  background-color: transparent;
  font-size: 1.3vw;
  font-family: latin;
}
