@font-face {
  font-family: "braille";
  src: url("assets/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/AHAMONO-Monospaced.otf");
}

body{
  background-color: white;
}

#infoBtn{
  background-color: transparent;
  border: transparent;
  position: absolute;
  color: #323232;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-family: latin;
  transition: 0.2s ease-in-out;
}

#infoBtn:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;
  color: #323232;
  font-size: 12px;
  border: transparent;
  font-family: latin;
}

.popup {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  padding-top: 500px; /* Location of the box */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
}

/* Modal Content */
.popup-content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #323232;
  margin: auto;
  padding: 0;
  border: 0.8px solid white;
  width: 500px;
  height: 165px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: text;
  animation-duration: 1s;
}

@keyframes text{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* The Close Button */
.close {
  padding-right: 5px;
  color: white;
  float: right;
  font-size: 28px;

}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

.popup-header {
  padding-top: 2px;
  padding-left: 5px;
  font-family: latin;
  font-size: 11px;
  color: white;
}

.popup-body {
  padding-right: 5px;
  padding-left: 5px;
  font-family: latin;
  font-size: 11px;
  color: white;
  font-weight: 25;
}

.back{
  background-color: transparent;
  border: transparent;
  position: absolute;
  color: #323232;
  top: 7%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-family: latin;
  transition: 0.2s ease-in-out;
}

.back:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;
  border: transparent;
  color: #323232;
  font-size: 12px;
  border: 1.25px solid #fff;
  font-family: latin;
}

.texts h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: latin;
  font-size: 14px;
  overflow: hidden;
  cursor: default;
  user-select: none;
}
