@font-face {
  font-family: "braille";
  src: url("assets/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/AHAMONO-Monospaced.otf");
}
@keyframes text{
  0% {color: black;}
  100% {top: white;}
}

body{
  background-color: black;
}

.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-weight: normal;
	font-family: latin;
	font-size: 4.2vw;
  float: left;
  color: white;
  text-align: center;
}

.typewriter h1 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: latin;
  font-size: 1.2vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing1 3s steps(90, end),
    blink-caret .13s step-end;
}

.typewriter h2 {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: braille;
  font-size: 1.2vw;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing2 3s steps(90, end),
    blink-caret .13s step-end;
}


/* The typing effect */
@keyframes typing1 {
  from { width: 0 }
  to { width: 62% }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 72% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: grey }
}

.title {
  background: transparent;
  border: none;
  position: absolute;
  color: white;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
  font-size: 4.2vw;
  cursor: pointer;
  font-family: latin;
  animation-name: text;
  animation-duration: 3s;
}


.start {
  border: none;
  background-color: #323232;
  width: 13%;
  height: 5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2vw;
  cursor: pointer;
  font-family: braille;
  transition: 0.2s ease-in-out;
  animation:3.5s ease 0s normal forwards 1 fadein;
  -webkit-animation:3.5s ease 0s normal forwards 1 fadein;
  opacity:0
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
95%{opacity:0}
100%{opacity:1}
}

.start:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 13%;
  height: 5%;
  font-size: 1.2vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

#infoBtn{
  background-color: transparent;
  border: transparent;
  position: absolute;
  color: #d2d2d2;
  width: 13%;
  height: 5%;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2vw;
  cursor: pointer;
  font-family: latin;
  transition: 0.2s ease-in-out;
  animation:3.5s ease 0s normal forwards 1 fadein;
  -webkit-animation:3.5s ease 0s normal forwards 1 fadein;
  opacity:0
}

#infoBtn:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;;
  color: white;
  font-size: 1.2vw;
  border: transparent;;
  font-family: latin;
}

.popup {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  padding-top: 500px; /* Location of the box */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */

}

/* Modal Content */
.popup-content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #d2d2d2;
  margin: auto;
  padding: 0;
  border: 0.8px solid white;
  width: 600px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: text;
  animation-duration: 1s;
}

@keyframes text{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* The Close Button */
.close {
  padding-right: 5px;
  color: black;
  float: right;
  font-size: 2vw;

}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

.popup-header {
  padding-top: 2px;
  padding-left: 5px;
  font-family: latin;
  font-size: 1.2vw;
  color: black;
}

.popup-body {
  padding-right: 5px;
  padding-left: 5px;
  font-family: latin;
  font-size: 1.2vw;
  color: black;
  font-weight: 25;
}
