@font-face {
  font-family: "braille";
  src: url("assets/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/AHAMONO-Monospaced.otf");
}
@keyframes text{
  0% {color: black;}
  100% {top: white;}
}

body{
  background-color: black;
}

.header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-weight: normal;
	font-family: latin;
	font-size: 4.2vw;
  float: left;
  color: white;
  text-align: center;
}



.title {
  background: transparent;
  border: none;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
  font-size: 2.2vw;
  cursor: pointer;
  font-family: latin;
  animation-name: text;
  animation-duration: 3s;
}


.start {
  border: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  color: grey;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: latin;
  animation:2s ease 0s normal forwards 1 fadein;
  -webkit-animation:1.5s ease 0s normal forwards 1 fadein;
  opacity:0
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
95%{opacity:0}
100%{opacity:1}
}
