@font-face {
  font-family: "braille";
  src: url("assets/fonts/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/fonts/AHAMONO-Monospaced.otf");
}

body {
  background-color: white;
  cursor: none;
  /*cursor: url(assets/cursor.png), auto;*/
}


/*    TEXTS    */
.texts h1 {
  position: absolute;
  margin: 0;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  mix-blend-mode: exclusion;
  color: white;
  font-family: latin;
  font-size: 1.2vw;
  overflow: hidden;
  user-select: none;
}

.texts instructions {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: braille;
  font-size: 1vw;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation: fadein 1s;
  user-select: none;
}
.texts instructions1 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: latin;
  font-size: 1vw;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation: fadein 1s;
  user-select: none;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 48% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: grey }
}
@keyframes typing1 {
  from { width: 0 }
  to { width: 39% }
}


/*    GIF    */
/*
img {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 55px;
  height: 55px;
  mix-blend-mode: difference;
  filter: none;
  user-select: none;
  z-index: -1;
} */

#anim {
  max-width: 65px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  user-select: none;
  filter: none;
}


@keyframes fadein{
0% {opacity:0}
90% {opacity:0}
100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
90% {opacity:0}
100%{opacity:1}
}

#infoBtn{
  background-color: transparent;
  border: transparent;
  position: absolute;
  color: #d2d2d2;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2vw;
  cursor: pointer;
  font-family: latin;
  transition: 0.2s ease-in-out;
}

#infoBtn:hover {
  transition: 0.2s ease-in-out;
  background-color: transparent;
  color: white;
  font-size: 1.2vw;
  border: transparent;
  font-family: latin;
}

.popup {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  padding-top: 500px; /* Location of the box */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,1); /* Black w/ opacity */
  cursor: pointer;

}

/* Modal Content */
.popup-content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: #d2d2d2;
  margin: auto;
  padding: 0;
  border: 0.8px solid white;
  width: 50%;
  height: 15%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: text;
  animation-duration: 1s;
  cursor: pointer;
}

@keyframes text{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* The Close Button */
.close {
  padding-right: 5px;
  color: black;
  float: right;
  font-size: 28px;

}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

.popup-header {
  padding-top: 2px;
  padding-left: 5px;
  font-family: latin;
  font-size: 1vw;
  color: black;
}

.popup-body {
  padding-right: 5px;
  padding-left: 5px;
  font-family: latin;
  font-size: 1vw;
  color: black;
  font-weight: 25;
}

.back {
  position: absolute;
  background-color: transparent;
  border: transparent;
  color: #d2d2d2;
  top: 7%;
  left: 10%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2vw;
  cursor: pointer;
  font-family: latin;
  transition: 0.2s ease-in-out;
}

.back:hover {
  transition: 0.2s ease-in-out;
  color: white;
  background-color: transparent;
  font-size: 1.2vw;
  font-family: latin;
}


/*    CONTINUE BUTTON    */
.continue {
  display: none;
  border: none;
  background-color: #323232;
  width: 13%;
  height: 5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
  animation:1s ease 0s normal forwards 1 fadein;
  -webkit-animation:1s ease 0s normal forwards 1 fadein;
  opacity:0
}

.continue:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 13%;
  height: 5%;
  font-size: 1vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}


/*    CUSTOM CURSOR    */
.cursor-dot {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    $size: 8px;
    width: $size;
    height: $size;
    background-color: black;
}
