@font-face {
  font-family: "braille";
  src: url("assets/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/AHAMONO-Monospaced.otf");
}

body{
  background-color: black;
}

.texts h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: latin;
  font-size: 14px;
  overflow: hidden;
}

.texts instructions {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: braille;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing 5s steps(70, end),
    blink-caret .12s step-end;
}
.texts instructions1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-family: latin;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .075em; /* Adjust as needed */
  animation:
    typing1 5s steps(70, end),
    blink-caret .12s step-end;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 37% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: grey }
}
@keyframes typing1 {
  from { width: 0 }
  to { width: 29% }
}


.start {
  border: none;
  background-color: #323232;
  width: 170px;
  height: 50px;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  font-family: braille;
  transition: 0.2s ease-in-out;
  animation:10.5s ease 0s normal forwards 1 fadein;
  -webkit-animation:5.5s ease 0s normal forwards 1 fadein;
  opacity:0
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
95%{opacity:0}
100%{opacity:1}
}

.start:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 175;
  height: 52px;
  font-size: 12px;
  border: 1.25px solid #fff;
}
