@font-face {
  font-family: "braille";
  src: url("assets/fonts/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/fonts/AHAMONO-Monospaced.otf");
}

body{
  background-color: black;
}

.texts h1 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: latin;
  font-size: 1.2vw;
  overflow: hidden;
}

.it {
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 25%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.th {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 25%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.ma {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.us {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.au {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 75%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.ru {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
}

.btn:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

.ru:active {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid red;
  font-family: latin;
}

.au:active {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid red;
  font-family: latin;
}

.th:active {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid red;
  font-family: latin;
}

.ma:active {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid red;
  font-family: latin;
}

.us:active {
  transition: 0.2s ease-in-out;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid red;
  font-family: latin;
}
