@font-face {
  font-family: "braille";
  src: url("assets/fonts/BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("assets/fonts/AHAMONO-Monospaced.otf");
}

body{
  background-color: black;
}

.texts h1 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: latin;
  font-size: 14px;
  overflow: hidden;
}

.texts h2 {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: latin;
  font-size: 1vw;
  overflow: hidden;
  animation-name: textin;
  animation-duration: 2s;
  color: grey;
}

.texts h3 {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: braille;
  font-size: 1vw;
  overflow: hidden;
  animation-name: textin;
  animation-duration: 2s;
  color: white;
}

@keyframes textin {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.again {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 60%;
  left: 42.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
  transition: 0.2s ease-in-out;
  animation:2s ease 0s normal forwards 1 fadein;
  -webkit-animation:2s ease 0s normal forwards 1 fadein;
  opacity:0
}

.back {
  border: none;
  background-color: #323232;
  width: 14%;
  height: 7.5%;
  border: 0.8px solid #6E6E6E;
  position: absolute;
  color: white;
  top: 60%;
  left: 57.5%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1vw;
  cursor: pointer;
  font-family: braille;
  transition: 0.2s ease-in-out;
  animation:2s ease 0s normal forwards 1 fadein;
  -webkit-animation:2s ease 0s normal forwards 1 fadein;
  opacity:0
}

.again:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

.back:hover {
  transition: 0.2s ease-in-out;
  background-color: #585858;
  color: white;
  width: 14%;
  height: 7.5%;
  font-size: 1vw;
  border: 1.25px solid #fff;
  font-family: latin;
}

@keyframes fadein{
  0% {opacity:0}
  95%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{0% {opacity:0}
95%{opacity:0}
100%{opacity:1}
}
