/* upload the fonts */

@font-face {
  font-family: "braille";
  src: url("BRAILLE1.ttf");
}
@font-face {
  font-family: "latin";
  src: url("AHAMONO-Monospaced.otf");
}

/* set the background color of the web page*/

body{
  background-color: black;
}

/* set the style of the button */

.button {
  background-color: #323232; /* set color of the button */
  width: 175px; /* dimensions of the button */
  height: 57.5px;
  border: 0.8px solid #6E6E6E; /* set color, style and weight of the border */
  color: white; /* text color */
  font-family: braille; /* text font */
  font-size: 12px; /* text size */
  position: absolute; /* set position */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out; /* smoothen transition when mouse's over */
}

/* set the style of the button when the cursor's over it */

.button:hover {
  transition: 0.2s ease-in-out;   
  background-color: #585858;
  color: white;
  width: 175px;
  height: 57.5px;
  font-size: 12px;
  border: 1.25px solid #fff;
  font-family: latin;
}
